@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}
#vanta {
  z-index: 0;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.main {
  z-index: 1;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}
#items {
  z-index: 10;
}

footer {
  z-index: 0;
}
